@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

.grid {
  display: flex !important;
  flex-wrap: wrap;
}

/* .sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
} */

.p-button {
  margin: 0 0.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.field label {
  margin-bottom: 0.5rem;
}

.p-inputtext {
  border: 1px solid rgb(0, 0, 0, 0.2);
  transition: border-color 0.3s ease;
  border-radius: 5px;
  padding: 5px;
}

.p-inputtext:hover {
  border-color: #007ad9;
}

.p-inputtext:focus {
  border-color: #007ad9;
  box-shadow: 0 0 0 0.1rem rgba(0, 122, 217, 0.5);
}

.p-button-text {
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.p-button-text:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.tree-container {
  font-size: 1rem;
  width: 100%;
}

.p-treenode-content {
  align-items: center;
  background-color: #e9ecef;
  padding: 0.5rem;
  margin: 5px 0;
}

.tree-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.tree-item span {
  font-weight: 500;
  color: #333;
}

.pi-ellipsis-v {
  color: #ffffff !important;
}

.node-label {
  font-size: 1.2rem;
}

.tree-item .p-speeddial {
  margin-top: 5px;
}

.tree-item .p-speeddial .p-speeddial-button {
  background-color: #888888;
  color: white;
  height: 30px;
  width: 30px;
}

.p-speeddial-list .p-speeddial-item .p-speeddial-action {
  background-color: #969696;
  color: white;
  height: 30px;
  width: 30px;
}

.tree-item .p-speeddial .p-speeddial-button:hover {
  background-color: #7c7c7c;
}

.p-tree .p-treenode-content.level-1 {
  margin-left: 20px;
}

.p-tree .p-treenode-content.level-2 {
  margin-left: 40px;
}

.p-tree .p-treenode-content.level-3 {
  margin-left: 60px;
}

.custom-width {
  width: calc(100vw - 15%);
}

.custom-width-role {
  width: calc(100vw - 20%);
}

.p-absolute-button {
  position: absolute;
  bottom: 8px;
  right: 1px;
}

.cart-icon {
  position: relative;
  display: inline-block;
}

.cart-icon i {
  font-size: 24px;
}

.cart-quantity {
  position: absolute;
  top: -12px;
  right: -12px;
  color: red;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}

.grid {
  justify-content: center;
}

.p-dialog-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.p-confirm-dialog-accept {
  align-items: center;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  transition: all .3s;
}
